
<!DOCTYPE html>
<!--
The consent.html displays the text of your IRB-approved
consent form.  Even if you are not required to provide
a consent form, it is helpful to use this form to
describe what people can do if an error comes up, etc...

-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Memory Tile Experiment - Informed Consent Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript">
      function onexit() {
          self.close(); // no harm, no foul here
      }
    </script>
  </head>
  <body>
    <div id="container-consent" class="container-flex">
      <div id="consent">
        <h3>We need your consent to proceed</h3>
        <hr />
        <div class="legal well">

          <p>Project Title: Memory Tile Experiment</p>
          <p>Principal Investigator: Ilya Monosov</p>
          <p>Research Team Contact: Jack Dolgin - (314) 362-3740 - monosovlab.mturk@gmail.com</p>

          <div>
              <p>
                This consent form describes the research study and helps you decide if you want to participate. It provides important information about what you will be asked to do during the study, about the risks and benefits of the study, and about your rights and responsibilities as a research participant.
              </p>
              <h3>WHAT IS THE PURPOSE OF THIS STUDY?</h3>
              <p>
                This is a research study. We invite you to participate in this research study because you are a healthy adult. The purpose of this research study is to investigate how people form memories and make decisions. 
              </p>
              <h3>WHAT WILL HAPPEN DURING THIS STUDY?</h3>
              <p>
                If you agree to participate, we would like you to complete one or more computerized tasks that will involve viewing stimuli on the screen (e.g., shapes, words, images, complex patterns) and indicating a response based on the task instructions. Responses may involve making choices, performing a cognitive operation, and/or performing a motor response. Some of these tasks may offer additional incentives above your base pay (see Compensation). You may also be asked to complete brief questionnaires assessing your subjective experiences, various general preferences, and demographic information. These will include information about your mental health. 
              </p>
              <p>
                You are free to skip any questions that you prefer not to answer. The entire procedure should last 35 minutes. If you do not want to participate, simply close this study. We will not reach out for further contact.
              </p>
              <h3>HOW MANY PEOPLE WILL PARTICIPATE?</h3>
              <p>
                  Approximately 2000 people will take part in this study at Washington University.
              </p>
              <h3>
                HOW LONG WILL I BE IN THE STUDY?
              </h3>
              <p>
                If you agree to take part in this study, your involvement will last for 35 minutes.
              </p>
              <h3>WHAT ARE THE RISKS OF THIS STUDY?</h3>
              <p>
                One risk of participating in this study is that confidential information about you may be accidentally disclosed. We will use our best efforts to keep the information about you secure. Please see the section in this consent form titled "How will you keep my information confidential?" for more information.
              </p>
              <h3>
                WHAT ARE THE BENEFITS OF THIS STUDY?
              </h3>
              <p>
                You will not benefit from being in this study. However, we hope that, in the future, other people might benefit from this study because it will help us understand the mechanisms involved in memory and decision making.
              </p>
              <h3>
                WILL IT COST ME ANYTHING TO BE IN THIS STUDY?
              </h3>
              <p>You will not have any costs for being in this research study.</p>
              <h3>WILL I BE PAID FOR PARTICIPATING?</h3>
              <p>
                You will be paid for being in this research study. Your Prolific ID will be recorded as a way for us to confirm you have completed the experiment and then properly compensate you. You will be paid a base amount of $7.20 and may also receive bonus payment based on your performance, ranging from $0 to $4.
              </p>
              <h3>
                WHO IS FUNDING THIS STUDY?
              </h3>
              <p>
                The University and the research team are not receiving payments from other agencies, organizations, or companies to conduct this research study.
              </p>
              <h3>
                HOW WILL YOU KEEP MY INFORMATION CONFIDENTIAL?
              </h3>
              <p>
                Other people such as those listed below may become aware of your participation in this study and may inspect and copy records pertaining to this research. Some of these records could contain information that personally identifies you. We will keep your participation in this research study confidential to the extent permitted by law.
              </p>
              <ol>
                <li>
                  Government representatives (including the Office for Human Research Protections) to complete federal or state responsibilities
                </li>
                <li>
                  University representatives to complete University responsibilities
                </li>
                <li>
                  Washington University's Institutional Review Board (a committee that oversees the conduct of research involving human participants) and the Human Research Protection Office. The Institutional Review Board has reviewed and approved this study.
                </li>
              </ol>
              <p>
                Any report or article that we write will not include information that can directly identify you. The journals that publish these reports or articles require that we share your information that was collected for this study with others to make sure the results of this study are correct and help develop new ideas for research. Your information will be shared in a way that cannot directly identify you.
              </p>
              <p>
                We will keep the information you provide confidential by ensuring data are stored and transferred securely and by limiting access to the research team only. Your Prolific ID is deidentified, does not contain any information about your name, and will be dissociated from your responses and task data, though it is associated with your Prolific profile. We will disclose to the proper authorities information shared with us or activities we observe concerning abuse, neglect or harm to others or yourself.
              </p>
              <h3>
                IS BEING IN THIS STUDY VOLUNTARY?
              </h3>
              <p>
                Taking part in this research study is completely voluntary. You may choose not to take part at all. If you decide to be in this study, you may stop participating at any time. Any data that was collected as part of your participation in the study will remain as part of the study records and cannot be removed.
              </p>
              <p>
                If you decide not to be in this study, or if you stop participating at any time, you won't be penalized or lose any benefits for which you otherwise qualify.
              </p>
              <h3>
                WHAT IF I HAVE QUESTIONS?
              </h3>
              <p>
                We encourage you to ask questions. If you have any questions about the research study itself, please contact: Jack Dolgin (917-757-0318). If you feel that you have been harmed in any way by your participation in this study, please contact Ilya Monosov (314-362-3740).
              </p>
              <p>
                If you have questions, concerns, or complaints about your rights as a research participant please contact the Human Research Protection Office at 1-(800)-438-0445, or email hrpo@wustl.edu. General information about being a research participant can be found on the Human Research Protection Office web site, hrpo.wustl.edu. To offer input about your experiences as a research participant or to speak to someone other than the research staff, call the Human Research Protection Office at the number above.
              </p>
              <p>
                This consent form is not a contract. It is a written explanation of what will happen during the study if you decide to participate. You are not waiving any legal rights by agreeing to participate in this study. 
              </p>
          </div>

<!--           <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
            <span class="glyphicon glyphicon-print"></span> Print a copy
          </button> -->
        </div>

        <hr />
        <h4>Do you understand and consent to these terms?</h4>
        <br />

        <center>
          <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
            <span class="glyphicon glyphicon-ok"></span> I agree
          </button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
            <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this study
          </button>
        </center>

      </div>
    </div>
  </body>
</html>
